<a href="/">To Go Back</a>
<h2>Edit note:</h2>
<form action="/notes/update" method="POST">
    <input type="hidden" name="id" value="{{ note._id }}">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="What do you want to note?" value="{{ note.title }}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description" placeholder="Describe this note...">{{ note.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Edit note</button>
</form>